---
layout: default
---

<div class="container">

  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#trend" data-toggle="tab">Trend</a></li>
    <li><a href="#usamap" data-toggle="tab">USA Map</a></li>
    <li><a href="#worldmap" data-toggle="tab">World Map</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade active in" id="trend">
      {% include trend.html %}
    </div>
    <div class="tab-pane fade" id="usamap">
      {% include usamap.html %}
    </div>
    <div class="tab-pane fade" id="worldmap">
      {% include worldmap.html %}
    </div>
  </div>

  <!-- <div class="btn-group pull-right" data-toggle="buttons"> -->
  <!--   <label class="btn btn-primary"> -->
  <!--     <input type="radio" name="options" id="opt1">Trend -->
  <!--   </label> -->
  <!--   <label class="btn btn-primary"> -->
  <!--     <input type="radio" name="options" id="opt2">USA Map -->
  <!--   </label> -->
  <!--   <label class="btn btn-primary"> -->
  <!--     <input type="radio" name="options" id="opt3">WorldMap -->
  <!--   </label> -->
  <!-- </div> -->

</div>
