#trend {
    margin-top: 72px;
    width: 100%
}

#trend svg {
    height: 640px;
}

#usamap .statepath {
    fill: #FFF;
    stroke: #000;
    stroke-width: 1px;
}

#usamap .countypath {
    fill: #AAA;
    stroke: #FFF;
    opacity: .8;
    stroke-width: .25px;
}

#usamap .countypath:hover {
    fill: orange
}

#usamap svg {
    border: #aaa 1px solid
}
