#trend {
    margin-top: 72px;
    width: 100%
}

#trend svg {
    height: 640px;
}

.state-path {
    fill: #FFF;
    stroke: #000;
    stroke-width: 1px;

.county-path {
    fill: #BBB;
    stroke: #333;
    opacity: .7;
    stroke-width: .25px;
}

.county-path:hover {
    fill: orange
}

.state-boundary {
    fill: none;
    stroke: #fff;
}

#canvas svg {
    border: #aaa 1px solid
}
