

Mapping Enrollment Data of Auburn University.


feature: (1) d3.js applied on trends of grpah.
		 (2) 



	We have mapped enrollment data through several categories. The service tracks country, state, and gender throughout a range of years. The two main options for viewing the data are a trend view and a MapView. 
	1) The trend view shows a graph that details the amount of people from a specific category through time. The user can choose how many categories they want displayed on the graph at one time. The display also has an interactive interface that allows the user to select a single category to be shown in detail when they have multiple categories selected.
	2) The map view shows a map of the world that depicts population density of enrolled students in specific regions. It can zoom in and out to display all sections of the world. It can also zoom in on the United States and can show the population density in the specific states. 
