<div id='trend'>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li id="trend_btn_states"><a href="#" data-toggle="pill">By States</a></li>
        <li id="trend_btn_countries"><a href="#" data-toggle="pill">By Countries</a></li>
        <li id="trend_btn_ethnicities"><a href="#" data-toggle="pill">By Ethnicities</a></li>
        <li id="trend_btn_genders"><a href="#" data-toggle="pill">By Genders</a></li>
      </ul>
    </div>
    <div class="col-md-10" id='trend_graph'> <svg/> </div>
  </div>
</div>
