<div id="worldmap">
  <div class="well">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-1">
            <div class="label label-info" id="yearmin">1996</div>
          </div>
          <div class="col-md-4">
            <div class="slider slider-horizontal">
            </div>
          </div>
          <div class="col-md-2">
            <div class="label label-info" id="yearmax">2004</div>
          </div>
          <div class="col-md-4">
            Current Year: <div class="label label-warning" id="yearcur">1996</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="btn-group pull-right" data-toggle="buttons">
          <label class="btn btn-info">
            <input type="radio" name="options" id="male">Male
          </label>
          <label class="btn btn-info">
            <input type="radio" name="options" id="female">Female
          </label>
          <label class="btn btn-info">
            <input type="radio" name="options" id="total">Total
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="worldmap-map">
  </div>
</div>
